body {
  padding: 80px 0 80px 0;
  background-color: #ccc;
}

.navbar-brand {
  font-weight: bold;
  font-size: xx-large;
}

#logo {
  text-align: center;
}

#logo img {
  float: none;
  width: 100%;
  max-width: 100px;
  border-radius: 30%;
  margin-bottom: 15px;
}

.panel-body img {
  float: left;
  max-width: 200px;
  margin: 10px;
}

footer p {
  margin-top: 15px;
  text-align: center;
}
